<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="/style/styles.css">

    <script src="https://kit.fontawesome.com/9cca0e9989.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="sidebar-navigation">
      <ul>
        <li class="active">
          <i class="fa fa-user-circle" aria-hidden="true"></i>
          <span class="tooltip">User</span>
        </li>
        <li>
          <i class="fa fa-hdd-o"></i>
          <span class="tooltip">Dashboard</span>
        </li>
        <li>
          <i class="fa fa-tasks" aria-hidden="true"></i>
          <span class="tooltip">Task To Do</span>
        </li>
        <li>
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <span class="tooltip">Calendar</span>
        </li>
        <li>
          <i class="fa fa-sliders"></i>
          <span class="tooltip">Projects</span>
        </li>
      </ul>
    </nav>
      

      
  </body>


	<script src="/js/main.js"></script>
  </body>
</html>